<div class="doc_page">
<form>
  <label for="title">Title</label>
  <textarea type="text" name="title" class="title" id="title"></textarea>

  <script type="text/javascript">
  $(".title").wysihtml5();
  </script>

  <br>
  <textarea name="body" class="body"></textarea>
</div>

  <script type="text/javascript">
  $(".body").wysihtml5();
  </script>

  <br>
  <input type="submit" class="submit" value="save">
</form>
<br>
<a href="#">Documents Index</a>

