<form>
  <input type="text" name="title" class="title">Title
  <br>
  <textarea name="body" class="body"></textarea>
  <input type="submit" value="create">
</form>
<br>
<a href="#">Documents Index</a>