<div id="content"></div>

<div id="firepad"></div>
<script src="https://cdn.firebase.com/v0/firebase.js"></script>

<script type="text/javascript">
var firepadRef = new Firebase('https://samdocshare.firebaseIO.com');
var codeMirror = CodeMirror(document.getElementById('firepad'), { lineWrapping: true});

var firepad = Firepad.fromCodeMirror(firepadRef, codeMirror,
  { richTextShortcuts: true});

  firepad.on('ready', function() {
        if (firepad.isHistoryEmpty()) {
          firepad.setHtml(
              '<span style="font-size: 24px;">Rich-text editing with <span style="color: red">Firepad!</span></span><br/>\n' +
              '<br/>' +
              '<div style="font-size: 18px">' +
              'Supports:<br/>' +
              '<ul>' +
                '<li>Different ' +
                  '<span style="font-family: impact">fonts,</span>' +
                  '<span style="font-size: 24px;"> sizes, </span>' +
                  '<span style="color: blue">and colors.</span>' +
                '</li>' +
                '<li>' +
                  '<b>Bold, </b>' +
                  '<i>italic, </i>' +
                  '<u>and underline.</u>' +
                '</li>' +
                '<li>Lists' +
                  '<ol>' +
                    '<li>One</li>' +
                    '<li>Two</li>' +
                  '</ol>' +
                '</li>' +
                '<li>Undo / redo</li>' +
                '<li>Cursor / selection synchronization.</li>' +
                '<li>And it\'s all fully collaborative!</li>' +
              '</ul>' +
              '</div>');
        }
      });

</script>